/* big video */
#big-video-vid, #big-video-vid_html5_api {
	width: 100% !important;
}

/* title and button */
#banner {
	position: absolute;
	top:50%; 
	margin-top: -100px;
	width: 100%;
	display: block;
	text-align: center;
}

#banner h1, h2 {
	color: white;
}

#banner h1 {

}

#banner h2 {
	font-weight: normal;
}

#banner div#button {
	margin-top: 55px;
}
